@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Changa", sans-serif;
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    min-width: 100%;
    background-color: #0B141A;
    background: url(../images/bg.png);
    color: #fff;
    direction: rtl;
    font-weight: 300;
}

img{
    width: 40px;
    height: 40px;
    margin: 8px 15px;
    border-radius: 50%;
}

i{
    display: flex;
    position: relative;
    width: 24px;
    height: 24px;
    font-size: 26px;
    border-radius: 50%;
    margin: 13px 10px;
    color: #AEBAC1;
    cursor: pointer;
}

i.active::after{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #009588;
    top: 0;
    left: 0;
    border: 2px solid #202C33;
}

.main{
    display: grid;
    grid-template-columns: 30% 70%;    
    min-width: 100%;
    min-height: 100%;
    transition: 0.7s;
}

.mainFrinds{
    background-color: #111B21;
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-left: 1px solid rgba(134, 150, 160, .15);
}

.frinds{
    overflow-y: auto;
    overflow-x: hidden;
}

header{
    display: flex;
    align-items: center;
    direction: ltr;
    background-color: #202C33;
    justify-content: space-between;
}

.account{
    display: flex;
    align-items: center;
}


.mainSearch{
    display: flex;
    justify-content: space-between;
}

.search{
    display: flex;
    background: #202C33;
    margin: 8px 12px;
    border-radius: 10px;
    height: 40px;
    width: 100%;
}

.search input{
    background-color: transparent;
    border: none;
    outline: none;
    color: #AEBAC1;
    width: 97%;
}

.search i{
    padding: 0;
    font-size: 20px;
    margin: 10px 10px 10px 32px;
    cursor: pointer;
}

.filter{
    font-size: 20px;
    cursor: pointer;
    padding: 0;
    margin: 13px 0 13px 13px;
}

.archive{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(134, 150, 160, .15);
}

.archive i{
    padding: 0;
    color: #00A884;
    margin: 11px 20px
}


.frindAccount{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(134, 150, 160, .15);
}

.img img{
    width: 49px;
    height: 49px;
}
.imgs img{
    display: flex;
    align-items: center;
    margin: 7.6px 16px
}

.Info,.lastMassage{
    display: flex;
    align-items: center;
}

.lastMassage{
    color: #8696A0;
    font-weight: 200;
    margin: -13px;
}

.timeInfo .settings{
    margin: -13px;    
}

.timeInfo{
    margin-left: 11px;
    font-size: 15px;
    font-weight: 100;
    color: #8696A0;
}


::-webkit-scrollbar{
    background-color: #111B21;
    width: 6px;
}


::-webkit-scrollbar-thumb{
    background-color: #374045;

}



/* ----------------------------------------------------------------------------------------- */

.mainChat{
    position: relative;
    min-width: 100%;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mainChatHeader{
    border-right: 1px solid rgba(134, 150, 160, .15);
    /* position: fixed;
    top: 0;
    left: 0; */
    width: 100%;
    z-index: 456;
}

.back{
    display: none;
}

.IconsChat{
    padding: 0 0 0 20px;
}

.chat{
    height: 100%;
    padding: 0 55px 0 55px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.row{
    margin-top: 8px;
    display: flex;
    position: relative;
    width: fit-content;
    padding: 5px 15px;
    max-width: 330px;
}

.row .time{
    font-size: 10px;
    margin-top: 14px;    
    margin-right: 14px;
}

.send{
    float: left;
    margin-right: 100%;
    background-color: #202C33;
    border-radius: 10px;
}

.recive{
    float: right;
    margin-left: 100%;
    background-color: #005C4B;
    border-radius: 10px;
}

.true{
    margin: 0;
    margin-top: 10px;
    color: #44A8CC;
}


.EnterText{
    /* position: fixed;
    bottom: 0;
    left: 0; */
    z-index: 1000000;
    display: flex;
    float: left;
    align-items: center;
    width: 100%;
    background: #202C33;
    padding: 5px;
}

.EnterText input{
    border: none;
    outline: none;
    background: #2A3942;
    width: 100%;
    padding: 9px 12px;
    margin: 5px 8px;
    border-radius: 8px;
    font-size: 16px;
    color: #fff;
}

.EnterText i{
    cursor: pointer;
}





@media(max-width: 650px){
    .mainFrindsOpen{
        display: none;
    }
    .mainOpen{
        display: flex;
    }
    .chat{
        padding: 0 10px;
    }
    .EnterTextOpen,
    .mainChatHeaderOpen{
        width: 100%;
    }
    .imgsOpen{
        cursor: pointer;
        display: flex;
        margin-left: 8px;
    }
    .imgsOpen:hover{
        background-color: #8696A0;
        border-radius: 50px;
    }
    .imgsOpen img{
        margin: 7.5px 7px;
    }    
    .backOpen{
        display: flex;
        position: relative;
        width: 24px;
        height: 24px;
        font-size: 26px;
        border-radius: 50%;
        margin: 13px 10px;
        color: #AEBAC1;
        cursor: pointer;
        margin: 0 4px 0 0;
        align-self: center;
    }
}

.mainClose{
    display: flex;
}

.mainChatClose{
    display: none;
}

.mainFrindsClose{
    cursor: pointer;
    width: 100%;
}